<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Almanya</string>
		<key>Image</key>
		<string>almanya</string>
		<key>Desc</key>
		<string>Almanya</string>
	</dict>
    
    <dict>
        <key>Name</key>
        <string>Amerika</string>
        <key>Image</key>
        <string>abd</string>
        <key>Desc</key>
        <string>Amerika</string>
    </dict>
    
    
    <dict>
        <key>Name</key>
        <string>Azerbaycan</string>
        <key>Image</key>
        <string>azerbaycan</string>
        <key>Desc</key>
        <string>Azerbaycan</string>
    </dict>
    
    <dict>
        <key>Name</key>
        <string>Afganistan</string>
        <key>Image</key>
        <string>afganistan</string>
        <key>Desc</key>
        <string>Afganistan</string>
    </dict>
    
    
    <dict>
        <key>Name</key>
        <string>Avusturya</string>
        <key>Image</key>
        <string>avusturya</string>
        <key>Desc</key>
        <string>Avusturya</string>
    </dict>
    
    
</array>
</plist>
